<!DOCTYPE html>
      <html>
        <head>
          <title><%= title %></title>
          <link rel='stylesheet' href='/stylesheets/style.css' />
        </head>
        <body>
          <h1><%= title %></h1>
          <p><%= pet.name %> </p>
          <p> Description:</p>
          
    
   <ul>  
      <% pet.descs.forEach(function(desc){ %>
        <li>
          <span id="color"><%= desc.desc %></span>
        </li>
      <% }); %>
    </ul>
            
    <br><br>
    <a href='/deletepet/<%= favorpet._id %>' class="changepet"> Delete this pet. </a>
        </body>
      </html>
     